body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    --max-width: 768px;
    --section-width: 600px;

    --clr-accent-400: rgba(237, 242, 247);

    --clr-neutral-100: hsl(0, 0%, 0%);
    --clr-neutral-300: hsl(0, 0%, 30%);
    --clr-neutral-600: hsl(0, 0%, 60%);
    --clr-neutral-800: hsl(0, 0%, 82%);
    --clr-neutral-900: hsl(0, 0%, 100%);
}

.header__container {
    width: 100%;
    background-color: var(--clr-accent-400);
}

.centered-section {
    max-width: var(--max-width);
    margin-inline: auto;
}

header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-inline: 1rem;
}

.home_link {
    margin-block: 0.825rem;
}

.home_link > h1 {
    height: min-content;
    margin-block: 0;
}

header > button {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

h1 {
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.board-container,
.index-list {
    width: var(--section-width);

    box-sizing: border-box;
}

.board-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.index-list {
    display: flex;
    flex-direction: column;
}

.index-era {
    margin-block-end: 1.25rem;
}

.index-choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;

    padding-inline: 1rem;
    padding-block: 0.5rem;

    line-height: 1.75rem;

    border-color: var(--clr-neutral-800);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0.25rem;

    text-decoration: none;
}

.index-choice:hover {
    background-color: var(--clr-accent-400);
    text-decoration: underline;
}

.index-choice > *,
.index-season-offset > * {
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
}

.index-season-identifer {
    flex-grow: 1;

    display: grid;
    gap: 1.25rem;
    grid-template-areas: "header date idol";
    grid-template-columns: auto auto 1fr;
}

@media (max-width: 650px) {
    .index-season-header {
        color: blue;
    }
}

@media (max-width: 650px) {
    .index-season-identifier {
        grid-template-areas:
            "header idol"
            "date idol";
        grid-template-columns: "auto 1fr";
    }
}

.index-season-header {
    grid-area: header;

    display: inline;
    margin-block: 0;

    line-height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.index-season-dates {
    grid-area: date;
    color: var(--clr-neutral-300);
}

.index-season-view {
    grid-area: idol;

    margin-inline-start: auto;
    text-align: right;
}

.index-season-view,
.index-season-election {
    width: max-content;
}

section {
    box-sizing: border-box;
    min-width: var(--section-width);
    width: 100%;
}

svg {
    width: 560px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-block: 0.25rem;
}

path {
    stroke: #ffbe00;
    fill: transparent;
}

.idolboard {
    display: grid;
    grid-template-areas:
        "header"
        "idol-board"
        "nav";
}

.idolboard > h2 {
    grid-area: header;
}

.idolboard__header__offset {
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--clr-neutral-300);
}

.idolboard > ol {
    grid-area: idol-board;
    display: grid;
    grid-template-columns: [idol-name] 30fr [idol-team-icon] 2fr [idol-team-name] 25fr;
    column-gap: 1rem;
}

.idolboard > ol > li:nth-child(2n) {
    background-color: var(--clr-neutral-800);
}

.idolboard > ol > li {
    --idolboard-row-height: 30px;

    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 0.5em;
    padding-block: 0.5em;
    padding-inline-start: 2.25em;
}

.idolboard > ol > li:hover {
    background: var(--clr-neutral-600);
}

.idolboard > ol > li:focus {
    outline-style: solid;
    z-index: 1;
}

.idolboard__name {
    grid-area: idol-name;
    padding-inline-start: 0.5em;
    display: list-item;
}

.idolboard__name,
.idolboard__team__name {
    line-height: var(--idolboard-row-height);
}

.idolboard__team__icon {
    grid-area: idol-team-icon;

    height: var(--idolboard-row-height);
    aspect-ratio: 1;
    border-radius: 50%;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 14pt;
    text-align: center;
}

.idolboard__team__name {
    grid-area: idol-team-name;
    padding-inline-end: 0.5em;
}

.idolboard > nav {
    grid-area: nav;
    display: grid;
    grid-template-areas: "first back next last";
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    padding-block-end: 1rem;
    width: 50%;
    margin-inline: auto;
}

.board__nav__first,
.board__nav__back,
.board__nav__next,
.board__nav__last {
    background-repeat: no-repeat;
    background-size: cover;
    height: 32px;
    aspect-ratio: 1;
}

.board__nav__first {
    grid-area: first;
    background-image: url("images/nav-first.svg");
}

.board__nav__back {
    grid-area: back;
    background-image: url("images/nav-back.svg");
}

.board__nav__next {
    grid-area: next;
    background-image: url("images/nav-next.svg");
}

.board__nav__last {
    grid-area: last;
    background-image: url("images/nav-last.svg");
}

footer {
    text-align: center;
    color: rgb(113, 128, 150);
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.25rem;
    padding-block-end: 1.25rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

a:focus-visible {
    outline-width: 0.5rem;
    outline-offset: 0.25rem;
    border-radius: 0.25rem;
}
