{% extends "base.html" %}

<!-- prettier-ignore -->
{% block content%}
{% for (timestamp, board) in boards %}
<section id="{{timestamp}}">
    <div class="idolboard">
        <h2>{{timestamp}}</h2>
        <ol>
            {% for player in board %}
            <li>
                <div class="idolboard__name">{{player.name}}</div>
                <div
                    class="idolboard__team__icon"
                    style="background: {{player.team_colour}}"
                >
                    {{player.team_emoji}}
                </div>
                <div class="idolboard__team__name">{{player.team_name}}</div>
            </li>
            {% endfor %}
        </ol>
        <nav>
            {% if !loop.first %}
            <a class="nav__back" href="#{{boards[loop.index0 - 1].0}}">&lt;</a>
            {% endif %} {% if !loop.last %}
            <a class="nav__next" href="#{{boards[loop.index0 + 1].0}}">&gt;</a>
            <!-- prettier-ignore -->
            {% endif %}
        </nav>
    </div>
</section>
{% endfor %} {% endblock %}
